.bookingOptionsContainer {
    margin: 19px !important;
    border-radius: 4% !important;
    height: 44% !important;
    width: 350px;
    border: 1px solid #D1CECE !important;
    padding-bottom: 10px !important;
}

.gridContainer {
    padding: 20px 25px !important;
}

.gridContainer Grid {
    padding: 10px !important;
}

.discountPriceDetailsContainer {
    letter-spacing: 0em !important;
    text-align: left !important;
    padding-bottom: 2px !important;
}

.originalRoomPrice {
    font-family: Inter !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 30px !important;
}

.labelRoomPricePerNight {
    font-family: Inter !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #A4A2A2;
}

.discountedRoomPrice {
    font-family: Inter !important;
    font-weight: 600 !important;
    font-size: 16px;
    color: #C9C8C8;
}

.labelDiscountPercentage {
    background: #326BFF !important;
    color: white !important;
    font-size: 13px;
    line-height: 18px;
    border-radius: 35px !important;
    height: 28px;
}

.divider {
    width: 99% !important;
    border: 0.5px solid #D1D4D9 !important;
    background: #D1D4D9 !important;
}

.datePicker {
    align-content: start !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
    font-family: Inter !important;
    font-weight: 300 !important;
    margin-left: -5px !important;
    color: #C9C8C8 !important;
}

.datePicker input {
    font-size: 75% !important;
    width: 5rem !important;
    background: #F4F5F7 !important;
    padding: 8% !important;
}

.datePicker button{
    color: #C9C8C8 !important;
}

.btnBookNow {
    color: white;
    background-color: #3C71FF !important;
    text-transform: none !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.bookingNote {
    text-align: center;
    font-family: Inter;
    font-size: 10rem !important;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: #A4A2A2;
}

.totalBookingPrice {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #000000;
}

.extraFeaturesPrice {
    font-family: Inter !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    letter-spacing: 0em !important;
    color: #A4A2A2 !important;
    margin-top: 2vh !important;
}