.hotelDetailBox{
    /* background: #FAFAFC; */
    border:1px solid #DCDCDE;
    border-radius:24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 25% !important;
    margin: 0 2vw !important;
    width: 80% !important;

}

.detailsDiv{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}