.suggestedHotelsMainBox {
  margin: 15vh 4vw 5vh 4vw !important;
  /* background-color: aquamarine; */
  font-family: "Inter" !important;
  font-style: normal !important;
  /* background-color: aliceblue; */
}
.suggestedHotelsMainBox h1 {
  font-weight: 700;
  font-size: 1.5vw !important;
  margin: 2vh 0 !important;
}

.suggestedHotelsMainBox h3 {
  font-weight: 700;
  font-size: 1.3vw !important;
  /* margin: 1vh 0 !important; */
}

.cardContainer {
  padding: 1vw !important;
  border-radius: 1vw !important;
  /* box-shadow: 0px 0px 0px 0px !important; */
  background-color: white !important;
  /* border: 0.5px solid gray !important; */
}

.cardContainer h2 {
  font-weight: 700;
  font-size: 1.3vw !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
}
.cardContainer h3 {
  font-weight: 500 !important;
  font-size: medium !important;
  margin: 0.5vh 0 !important;
}
.cardContainer img {
  border-radius: 17px !important;
    width: 19vw !important;
    height: 30vh !important;

}

.ratingDiv {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  margin: 2vh 0 !important;
  font-size: medium !important;
}
.ratingDiv h4 {
  font-weight: 600 !important;
  font-size: small !important;
  margin-left: 0.5vw !important;
}
.ratingDiv h5 {
  font-size: small !important;
  color: #878686 !important;
  margin-left: 0.3vw !important;
}

.starIcon {
  color: #ff9c09 !important;
  font-size: medium !important;
}
.locationDiv {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-size: medium!important;
  margin: 2vh 0 !important;

}

.locationIcon {
  color: #787575 !important;
  font-size: larger !important;
}
.basePrice {
  background-color: #5183fe !important;
  color: white !important;
  margin-right: 1vw !important;
  font-family: "Inter" !important;
  font-style: normal !important;
}
