.selectInp {
  background: #f0f1f2;
  border: "1px solid #CAC8C8" !important;
  position: relative !important;
  width: 18vw !important;
  z-index: 99 !important;
}
.txtfld1 {
  border-radius: 100% !important;
  border: "1px solid #CAC8C8" !important;
}
