.searchBtn {
  height: 4.2vw !important;
  /* max-width: 17vh !important; */
  background: #3C71FF !important;
  border-radius: 9px !important;
  text-transform: none !important;
  margin-left: 2vw!important;
}