.searchDiv {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(149, 149, 149, 0.25);
    border-radius: 12px;
    margin: 0 auto;
    /* margin-top:  5%; */
    position: relative;
    z-index: 1000;
    width: 75vw;
}

.container{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-around;
    padding: 3% 0; 
}

.arrow{
    /* border: 2px black solid; */
    z-index: 1;
    border-radius: 100%;
    max-height: 100%;
    max-width: 107%;
  
    position: relative;  
    background: #FFFFFF; 
}
.arrowBox{
    width: 4%;
    background-color: #FFFFFF !important;
    /* border-spacing: 9% !important; */
    /* padding: 2%; */
    margin: 0 -5.5%; 
}

.griditem1{
    color: red;
    border-radius: 20% !important;
}