.searchBtn{
    /* max-height: 10vh !important;
    max-width: 10vw !important; */
  /* width: 30% !important; */
    padding: 20% !important;
    background: #3C71FF !important;
    border-radius: 9px !important;
  }