.heading {
    font-size: large !important;
    font-weight: 700 !important;
    font-style: normal;
    padding:0 0 25px 0;

  }
  
  span{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  .iconStyle{
    margin-right: 10px;
    color: #323232;
  }