.heading {
    font-size: large !important;
    font-weight: 700 !important;
    font-style: normal;
    padding:0 0 25px 0;

  }
  
 
  .iconStyle{
    margin-right: 1vw;
    color: #323232;

  }

  .features{
    font-size: 12px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    }