.tabContainer {
  width: 60vw !important;
  font-family: "Inter";
  font-style: normal;
  border-top: 1px solid #d1d4d9 !important;
  border-bottom: 1px solid #d1d4d9 !important;
  
}

.headingLabel{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600 !important;
  color: black !important;
  /* border: 1px solid #D1D4D9; */
}

.TabHeadings {
  color: #326bff  !important;
  border-color: #326bff !important;
}

.tabDetail {
  width: 60vw;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.reviewHeading {
  font-weight: 600 !important;
  font-size: 20px !important;
  font-family: "Inter" !important;
  font-style: normal !important;
}
