/* .tabContainer {
  width: 771px !important;
  font-family: "Inter";
  font-style: normal;
  border: 1px solid #d1d4d9 !important;
} */

.headingLabel{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  color: black;

}

.TabHeadings {
  color: #326bff;
  border-color: #326bff;
}

.tabDetail {
  width: fit-content;
  font-weight: 400 !important;
  font-size: 14px !important;
}
