@import url('https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css');

.Appbar{
    background: 'white';
}

.pointer{
    cursor: 'pointer';
}

.webSiteHeader {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    flex-grow: 1 !important;
    color: #000000 !important;
    padding-left: 10px !important;
    font-size: 24.4465px !important;
}

.currency{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700 ;
    cursor: pointer;
    color: #898888;
}

.divider{
    border-left: 2px solid #8B8989;
    height: 40px;
}

.userProfilePicture{
    width: 50px;
}

.userName{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700 ;
    width: 94px;
    height: 19px;
    color: #000000;
    font-size: medium !important;
    width: fit-content !important;
}

.loginBtn{
    
    /* height: 8.2vh!important;
    width: 15vh !important; */
    background: #3C71FF !important;
    border-radius: 9px !important;
    text-transform: none !important;
    margin-left: 2vw!important;
    color: white !important;
}